In [ ]:
# ways to print python statements

In [ ]:
print(100)  #print integer

In [ ]:
print("hello python")   #print normal string

In [ ]:
print("hello","python",2324)  #print different items separated by comma  #in this case it is also called tuple

In [ ]:
# varaible in pyhton  



#variable is a  reserved memory location where data type is stored else identifier is just a name for identification of variable

In [ ]:
i=2  # integer  as variabe 
# here i is called identifier

In [ ]:
print(i)

In [ ]:
e="hello gud mrning" # string  as vaiable

In [ ]:
print(e)

In [ ]:
type(e)

In [ ]:
id(e) #this is the location

In [ ]:
#identifier cannot start with number and it cannot be inbuilt keyword else it can start with underscore

In [ ]:
_ab1=(23,"storm")

In [ ]:
type(_ab1) # all the identifier are of any type like string, list, tuple , integer etc

In [ ]:
&ab1=45   # but not any special character

In [ ]:
# python is dynamic hence same identifier can change their variable 
#ex

In [ ]:
print(i)

In [ ]:
type(i)

In [ ]:
i="hello"

In [ ]:
type(i)  # change with the last  datatype

In [ ]:
 #basic datatype

In [ ]:
#int
#float
#string
#Boolean
#None

In [ ]:
my_num = 55

print(my_num)
print( type(my_num) )

In [ ]:
my_f = 98.7

print(my_f)
print( type(my_f) )

In [ ]:
my_c = 4 + 3j

print(my_c)
print( type(my_c) )

In [ ]:
my_str = "Python is fun."

print(my_str)
print( type(my_str) )

In [ ]:
my_bool = False   # or False

print(my_bool)
print( type(my_bool) )

In [ ]:
my_none = None

print(my_none)
print( type(my_none) )

In [ ]:
# input in python

In [ ]:
# input() always take input as string

In [ ]:
name= input("enter your name:")  # default input as string

In [ ]:
num=int(input("enter your age:")) # for taking integer as input

In [ ]:
# type casting ; it is a way in which data type can be change

In [ ]:
num="8"

In [ ]:
print(num)

In [ ]:
type(num)

In [ ]:
# if we  want to change the type then

In [ ]:
 num= int(num)

In [ ]:
type(num) # changed from string to int

In [ ]:
#python statements

In [ ]:
# single line statement  : instruction that can ececute in single line
num = 5

In [ ]:
# multiline statement : required multiline to execute  (\  is used )
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8

In [ ]:
print(a)

In [ ]:
# output in python

In [ ]:
# by dot format method

In [ ]:
a =10
b=20

print("the value of a is {},b is {}".format(a,b))  # basic output formatting

In [ ]:
a=10
b=20

print("the value of a is {1}, b is {0}".format(a,b))  # output based on indexing # here a is at 0 and b is at 1

In [ ]:
print("the value of c is {f}, d is {g}".format(g=30, f=20))  # variable defines inside the statementb

In [1]:
c=86

In [7]:
print(f'the value of c is "{c}"')  # F STRING ,, REQUIRED TO PUT THE VALUE IN CURLY BRACES

the value of c is "86"

In [6]:
print(f"the value of c is {c}")

the value of c is 86

In [ ]:
#Operators and Expressions

#Arithmetic Operators + , - , * , / , // , **, %

#Comparison Operator > , < , >= , <= , == , !=

#Logical Operator and , or , not 

#Bitwise Operator & , | , ^  

#Assignment Operator = , +=, -=, *=, /=  

#Special Operators in, is

In [ ]:
#Arithmetic Operators + , - , * , / , // , **, %

In [ ]:
no1 = 12
no2 = 3

In [ ]:
add = no1 + no2
sub = no1 - no2
mul = no1 * no2
div = no1 / no2
f_div = no1 // no2
exp = no1 ** no2
mod = no1 % no2 # ---> modulus operator. it gives remainder

In [ ]:
print("a+b={}".format(add))
print("a-b={}".format(sub))
print("a*b={}".format(mul))
print("a/b={}".format(div))
print("a//b={}".format(f_div))
print("a**b={}".format(exp))
print("a%b={}".format(mod))

In [ ]:
#Comparison Operator > , < , >= , <= , == , !=

In [ ]:
print(no1,no2)

In [ ]:
print(no1 > no2)
print(no1 < no2)
print(no1 >= no2)
print(no1 <= no2)
print(no1 == no2)  # equality
print(no1 != no2)  # not equal to

In [ ]:
#Logical Operator and , or , not

In [ ]:
#and : return True when both the conditions are True, otherwise false

#or : return True even when one of the condition is True. False if both the conditions are False

#not : return Negation

In [ ]:
(10>5) and (20!=3)

In [ ]:
(10<5) or (10<6)

In [ ]:
not True

In [ ]:
not( (10!=5) and (5>7) )

In [ ]:
#Bitwise Operator & , | , ^

In [ ]:
bin(10)

In [ ]:
bin(4)

In [ ]:
# bitwise & of 10 with 4                                                               #?
10 & 4

In [ ]:
#bitwise | of 10 with 4
10 | 4                                                                                   #?

In [ ]:
# bitwise xor 4 with 4
4 ^ 4                                                                                       #?

In [ ]:
#Assignment Operator = , +=, -=, *=, /=

In [ ]:
# assigning value 5 to variable 'a'
a = 5

In [ ]:
a = a + 1

In [ ]:
print(a)

In [ ]:
a+=2

In [ ]:
print(a)

In [ ]:
a *= 2

In [ ]:
print (a)

In [ ]:
a, b, c = "ML" , 34 , 0.3  # multiple assignment

In [ ]:
print(a, b, c)

In [ ]:
a = b = c = 70

In [ ]:
print(a, b, c)

In [ ]:
#Special Operators in, is

In [ ]:
#Membership Operator
#- in


#Identity operator
#- is
#- is not

In [ ]:
my_str = "Good Morning"

In [ ]:
"Good" in my_str

In [ ]:
'o' in my_str

In [ ]:
n1 = 1000
n2 = 1000

In [ ]:
id(n1)

In [ ]:
id(n2)

In [ ]:
n1 is not n2

In [ ]:
n1 == n2