In [1]:
#data structures in python with thier function

In [2]:

#string 

#+built in data structure

#list
#tuple
#set
#dictionary

In [3]:
#string

#1.are the sequence of unicode charters.
#2. single, double, triple.
#3. indexable left = 0  right = -1.

In [6]:
my_str= "Hello, I am learning python"

In [7]:
print(my_str)

Hello, I am learning python

In [8]:
type(my_str)

str

In [13]:
len(my_str)   #for length of a string # spaces also count

27

In [10]:
my_str

'Hello, I am learning python'

In [ ]:
# indexing

In [12]:
my_str[0]      # start from zero

'H'

In [14]:
my_str[-1]    #starting from last #-1

'n'

In [15]:
my_str[20]     #spaces also print

' '

In [16]:
my_str[-20]

'I'

In [17]:
 # slicing   # cut string into slices  # for slicing think like number line

In [18]:
my_str

'Hello, I am learning python'

In [19]:
my_str[0:5]    # slice hello from my_str

'Hello'

In [21]:
my_str[7:12]

'I am '

In [24]:
my_str[2:15:2]  # now it will consider 2 placeholder instead of one

'lo  mla'

In [29]:
my_str

'Hello, I am learning python'

In [45]:
my_str[-7:-1]   # slice from the last # but it will not consider last alphabet  3 it moves from req to req

' pytho'

In [42]:
my_str[-7:]  # for taking last alphabet also  # it moves from req to last

' python'

In [44]:
my_str[-1:-7:-1]   # for taking reverse string  # it start from last to req

'nohtyp'

In [49]:
my_str

'Hello, I am learning python'

In [48]:
my_str[-10:25]    #   first count start from last and then  in end it start from front

'ing pyth'

In [50]:
my_str[15:-4]    # vice versa from upper case

'rning py'

In [51]:
my_str

'Hello, I am learning python'

In [52]:
my_str[1:]   #start with front end with last

'ello, I am learning python'

In [53]:
my_str[-10:]  #  count start with last move to last

'ing python'

In [55]:
 my_str[::-1]    # count start with last and move from last to front to end og string

'nohtyp gninrael ma I ,olleH'

In [56]:
 # modify and method  of string

In [59]:
my_str

'Hello, I am learning python'

In [57]:
my_str.lower()    # LOWER CASE ALL Alaphabet

'hello, i am learning python'

In [58]:
my_str.upper()   # upper case all the alphabet

'HELLO, I AM LEARNING PYTHON'

In [60]:
my_str.title()   # upper case all first letter of word

'Hello, I Am Learning Python'

In [61]:
my_str.capitalize()   # upper case first letter

'Hello, i am learning python'

In [62]:
my_str

'Hello, I am learning python'

In [66]:
my_str.find("p")    # for finding the indexing of alphabet

21

In [68]:
my_str.find("p",22)   # for checking that letter is how much far  #  case when we guess after the req

-1

In [70]:
my_str.find("p",20)   # case when we guess before the req

21

In [73]:
my_str.find("am")

9

In [74]:
my_str

'Hello, I am learning python'

In [77]:
my_str.replace("am","was")  # temporary replacement of word but not stored

'Hello, I was learning python'

In [81]:
my_str=my_str.replace("am","was")  # for permanent store again that string to that variable

In [80]:
my_str

'Hello, I was learning python'

In [89]:
# for finding from the right use r.find and from left side use .find as it is default

In [83]:
my_str.rfind("p")

22

In [90]:
my_str.find("p")

22

In [91]:
# for removing white spaces from front and last

In [92]:
my_str= "   i am learning python     "

In [93]:
my_str

'   i am learning python     '

In [94]:
my_str.lstrip() # removed white spaces from left but not saved # temporary

'i am learning python     '

In [95]:
my_str.rstrip()

'   i am learning python'

In [96]:
my_str.strip()

'i am learning python'

In [98]:
my_str=my_str.strip()

In [99]:
my_str

'i am learning python'

In [102]:
h = "This is a python class"

In [104]:
h.split()  # for splitting the whole string

['This', 'is', 'a', 'python', 'class']

In [106]:
"".join(h) # for joining the string

'This is a python class'

In [101]:
# some escape character in string

In [ ]:
#\'	Single Quote	
#\\	Backslash	
#\n	New Line	
#\r	Carriage Return	
#\t	Tab	
#\b	Backspace